#body {
    display: flex;
    flex-direction: column;
    font-family: 'Jomhuria';
    font-size: 3vw;
    line-height: 3vw;
    width: 95%;
}

#formBody {
    display: flex;
    justify-content: space-between;
}

#formBody h1 {
    font-family: 'Jomhuria';
    font-size: 6vw;
    line-height: 0.1vw;
}

form {
    display: flex;
    justify-content: space-between;
}

.field {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

input {
    width: 60%;
    font-family: 'Poppins';
    margin-bottom: 0.5vw;
}

select {
    width: 60%;
    font-family: 'Poppins';
}

#jobStatusField {
    font-family: 'Poppins';
    font-size: 1vw;
    line-height: 1vw;
}

#checkBox {
    width: auto;
}

label {
    font-family: 'Jomhuria';
    font-size: 2vw;
    line-height: 2vw;
}

.formButton {
    height: min-content;
    border-radius: 5px;
    font-family: 'Poppins';
    border: solid 1px black;
    margin-inline: 0.2vw;
    cursor: pointer;
}

#editField {
    display: flex;
    width: 98%;
    gap: 2px;
    justify-content: space-between;
}

#editField input {
    width: 30%;
}

.sign-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 90%;
    padding-left: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
}