#formBody {
    display: flex;
    flex-direction: column;
}

#formBody h1 {
    font-family: 'Jomhuria';
    font-size: 6vw;
    line-height: 0.1vw;
}

form {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    width: 30%;
}

.labels {
    width: 50%;
}

.formField {
    width: 50%;
}

input {
    width: 100%;
    font-family: 'Poppins';
    margin-bottom: 0.5vw;
}

#jobStatusField {
    font-family: 'Poppins';
    font-size: 1vw;
    line-height: 1vw;
}

#checkBox {
    width: auto;
}

label {
    font-family: 'Jomhuria';
    font-size: 2vw;
    line-height: 2.15vw;
}

#formButton {
    border-radius: 5px;
    font-family: 'Poppins';
    border: solid 1px black;
    margin-left: 75%;
}

select {
    width: 104%;
    font-family: 'Poppins';
    margin-bottom: 0.5vw;
}